/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* https://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  background-color: #f4f4f4;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 5em; /* für Footer Navbar. evt. anpassen */
  min-height: 100vh;
  padding: 0 10px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
}

/* For devices larger than 810px */
@media (min-width: 810px) {
  .container {
    width: 90%; }
    .six.columns.teasercontainer {
      width: 50%; /* Override six.columns 48% damit rechts bündig */
    }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  background-color: #f4f4f4;
  font-size: 2em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Karla', Helvetica , sans-serif;
  color: #222; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: 'Karla' , Helvetica, sans-serif;
  font-weight: 800; }
h1 { font-size: 2rem; line-height: 1.18;  letter-spacing: -.1rem;}
h2 { font-size: 1.9rem; line-height: 1.2; letter-spacing: .2rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: .2rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-bottom: 0;
  margin-top: 0; }

strong {
  font-weight: 600;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #005dab;
  text-decoration: none;
 }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #f4f4f4;
  background-color: #005dab;
  border-color: #005dab; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #f4f4f4;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #f4f4f4;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
  margin-bottom: 2rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

  /* Navigation Menu
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Taken from https://codepen.io/mutedblues/pen/MmPNPG. Changed "header" to "footer" */

  .footer {
    background-color: #222;
    bottom: 0;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    font-weight: 600;
    margin-bottom: -15px;
    position: fixed;
    left: 0;
    z-index: 3;
  }

  .footer ul {
    background-color: #222;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  .footer li a {
    color: #222;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }

  .footer .logo {
    align-items: center;
    display: flex;
    float: left;
  }
.logo_txt {
  font-size: .9em;
  padding: 22px 5px;
  text-decoration: none;
}
.footer li a:hover,
  .footer .menu-btn:hover,  a.logohref:hover > div {
    background-color: #f4f4f4;
  }
a.logohref, ul.menu li a
  {
   color: #f4f4f4;
 }
ul.menu li a:hover, a.logohref:hover > div {
   color: #222;
 }


  /* menu */

  .footer .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .footer .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 40px;
    position: relative;
    user-select: none;
  }

  .footer .menu-icon .navicon {
    background: #f4f4f4;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .footer .menu-icon .navicon:before,
  .footer .menu-icon .navicon:after {
    background: #f4f4f4;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .footer .menu-icon .navicon:before {
    top: 5px;
  }

  .footer .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .footer .menu-btn {
    display: none;
  }

  .footer .menu-btn:checked ~ .menu {
    max-height: 300px;
  }

  .footer .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .footer .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .footer .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .footer .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .footer .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }


  @media (min-width: 810px) {
    .footer li {
      float: left;
    }
    .footer li a {
      padding: 20px 20px;
    }
    .footer .menu {
      clear: none;
      float: right;
      max-height: none;
      margin-right: 2rem;
    }
    .footer .menu-icon {
      display: none;
    }
  }


/* Workunit Additions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.column img, .columns img {
  max-width: 100%;
  height: auto;
}

.header_img {
  position: relative;
  text-align: center;
}
.header_img_txt {
  position: absolute;
  top: 1em;
  right: 1em;
}

.halfheader_img {
  background-image: url(../images/header_morissen_2100-6x1.jpg);
  height: 28vh;
}
.fullheader_img {
  background-image: url(../images/header_morissen_2100x1358.jpg);
  height: 100vh;
}
.fullheader_img_txt {
  float: right;
  font-size: 8rem;
  letter-spacing: -.1rem;
  position: relative;
  top: 8rem;
  right: 8rem;
}

.teasercontainer {
  display: flex;
  justify-content: center;
}
a .teaserblock {
  box-shadow: 0 3px 10px 0 #aaa;
  color: #636f89;
  margin-bottom: 1em;
  padding: 1em;
  width: 90%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom: 80%;
    position:relative;
    width: 100%;
}

.map-responsive iframe {
    position:absolute;
}

.subnav_referenzen {
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.gallery {
  width: 100%;
  float: left;
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
.gallery_img {
  display: grid;
  justify-content: center;
}
.gallery_img img {
  height: 200px;
  width: auto;
}
#gotcha {
  display: none;
}

.form-control:focus {
  border-color: red;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255,0,0,0.75);
  outline: 0 none;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


@media (max-width: 920px) {
  .footer {
  font-size: .85em;
}
.footer .menu {
  margin-right: 1rem;
}
}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 810px) {
  .footer .menu-icon {
    padding-right: 20px;
  }
  .logo_txt {
    font-size: .85em;
    padding: 20px 10px;
  }
  .logo_img img {
    height: 35px;
    width: auto;
  }
  .contactform {
    margin-top: 1em;
  }
  .halfheader_img {
    background-image: url(../images/header_morissen_800-4x1.jpg);
    height: 20vh;
  }
  .fullheader_img {
    background-image: url(../images/header_morissen_800x1130.jpg);
    }
    .fullheader_img_txt {
      font-size: 4.5rem;
      position: fixed;
      left: .2em;
      top: 1em;
    }

    .footer {
      bottom: 0;
      margin-bottom: -5px;
    }
    .footer ul {
      background-color: #f4f4f4;
    }
    a.logohref  {
      color: #f4f4f4;
    }
    ul.menu
     {
      text-align: center;
    }
    ul.menu li a
     {
      color: #222;
    }
    a.logohref:hover > div {
        color: #777;
      }
   ul.menu li a:hover {
      background-color: #222;
      color: #f4f4f4;
    }
    a.logohref:hover > div {
        background-color: #222;
      }
      .map-responsive{
          padding-bottom: 300px;;
      }
 .contact {
   margin-top:30px;
 }
}

/* Larger than tablet */
@media (max-width: 657px) {
  .container {
    padding: 0 5px;
  }
  .gallery {
    grid-template-columns: 100%;
    }
  .gallery_img img {
    height: auto;
    max-width: 100%;
  }

}
